/* Tips Section */

.tips .tips-headline {
  padding-top: 50px;
}

.tips .tips-headline p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: left;
}

.tips .tips-headline p.line {
  padding-top: 20px;
}

.tips .tips-headline p.link{
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: left;
}

.link .glyphicon {
  color: #42858c;
  padding-right: 5px;
}


/* Tip #1 */

.tips-headline h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 2.2rem;
}

.tips-headline p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  padding-top: 2px;
  letter-spacing: 0.05rem;
}

.tips-headline h4.line1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.2rem;
  padding-top: 60px;
  letter-spacing: 0.05rem;
  font-style: italic;
  font-weight: 700;
}

.tips-headline h4.line2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.2rem;
  padding-top: 20px;
  letter-spacing: 0.05rem;
  font-style: italic;
  font-weight: 700;
}

.tips-headline p.ps1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  padding-top: 70px;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.tips-headline p.ps2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  padding-top: 10px;
  letter-spacing: 0.05rem;
  font-weight: 400;
}
