/* First Column */

.col-sm-5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: left;
}

.col-sm-5 .line1 {
  padding-top: 50px;
}

.col-sm-5 .line {
  padding-top: 20px;
}

.col-sm-5 .link {
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: left;
}

.link .glyphicon {
  color: #42858c;
  padding-right: 7px;
}
/* Tip #1 */

.col-sm-5 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 2.2rem;
}

.col-sm-5 p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  padding-top: 2px;
  letter-spacing: 0.05rem;
}

.col-sm-5 h4.line1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.2rem;
  padding-top: 60px;
  letter-spacing: 0.05rem;
  font-style: italic;
  font-weight: 700;
}

.col-sm-5 h4.line2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.2rem;
  padding-top: 20px;
  letter-spacing: 0.05rem;
  font-style: italic;
  font-weight: 700;
}

.col-sm-5 p.ps1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  padding-top: 70px;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.col-sm-5 p.ps2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8rem;
  padding-top: 10px;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

/* Second Column */



.col-sm-5 .form-line1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  text-align: left;
  padding-top: 50px;
  margin-left: 10px;
  color: #42858c;
  font-weight: 600;
}

.col-sm-5 .form-email {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  text-align: left;
  padding-top: 15px;
  margin-left: 10px;
}
