/* navbar */

.nav {
  background-color: rgba(53,57,60,0.9);
}

.navbar {
  line-height: 20px;
  padding-top: 10px;
  background-color: transparent;
}

.nav .navbar .nav {
  background-color: transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

ul.nav li a, ul.nav li a:focus {
    color: white !important;
}

/* It's not working */
ul.nav li.talk a:hover {
    background-color: #63ccca;
    color: white;
}

.navbar .brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  vertical-align: baseline;
  letter-spacing: 0.05rem;
  color: white;
}

.navbar .about {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  vertical-align: baseline;
  letter-spacing: 0.05rem;
  color: black;
}

.navbar .talk {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  vertical-align: baseline;
  letter-spacing: 0.05rem;
  border-radius: 10px;
  border: 0.23rem solid #63CCCA;
  color: black;
}

.nav li .talk a:hover {
    background-color: #63ccca;
    color: white;
}


/* Hero */

.hero .col-md-12 {
  background-color: rgba(53,57,60,0.9);
}

.hero .headline h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5.4rem;
  font-weight: 900;
  text-align: center;
  margin: 0px 0px -10px 0px;
  padding-top: 60px;
  letter-spacing: 0.05rem;
  color: white;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  body .hero .headline h1 {
    margin-top: -20px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  body .hero .headline h1 {
    margin-top: -60px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  body .hero .headline h1 {
    margin-top: -60px;
  }
}

@media all and (max-width: 480px) {
  body .hero .headline h1 {
    margin-top: -60px;
    font-size: 4.8rem;
  }
}

.hero .subheadline h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.34rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 90px;
  padding-top: 20px;
  letter-spacing: 0.05rem;
  color: white;
  line-height: 30px;
}

.stat .col-md-12 {
  background-color: rgb(93,163,153);
}

.stat .quote1 .inside h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  line-height: 150%;
  color: #35393C;
  font-weight: lighter;
  padding-top: 20px;
  padding-bottom: 20px;
}

.stat .quote1 .inside strong {
  font-size: 2.1rem;
}

.stat .quote1 h3 p {
  font-size: 1.8rem;
  font-style: normal;
  padding-top: 20px;
}

.hero .link h5 {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 30px;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.05rem;
  padding-bottom: 40px;
  color: white;
  font-weight: 500;
}



/* Important */

.important .headline h2 {
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bolder;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.important .headline h4 {
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 20px;
  color: #397367;
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
}

.important .headline .bullet1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: center;
  padding-top: 15px;
  font-style: italic;
}

.important .headline .bullet2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: center;
  padding-top: 15px;
  font-style: italic;
}

.important .headline .bullet3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: center;
  padding-top: 15px;
  font-style: italic;
}

.important .headline .bullet4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: center;
  padding-top: 15px;
}

.important .headline h5 {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 20px;
  font-size: 3.2rem;
  text-align: center;
  font-weight: 800;
}

.important .headline .bullet5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: center;
  padding-top: 15px;
  font-style: italic;
}

.important .headline .bullet6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: center;
  padding-top: 15px;
  font-style: italic;
}

.important .headline .bullet7 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.6rem;
  text-align: center;
  padding-top: 25px;
  font-style: italic;
  color: #397367;
  letter-spacing: 0.05rem;
  font-weight: 600;
}


.button1 .row {
  line-height: 50px;
  padding-top: 40px;
}

.button1 .talk {
  vertical-align: baseline;
  border-radius: 10px;
  border: 0.23rem solid #9E2A2B;
  width: 100%;
  text-align: center;
  background-color: #9E2A2B;
}

.button1 .talk a {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.57rem;
  word-spacing: 5px;
 }

/* middle quote */

.sherman {
  margin-top: 110px;
}

.sherman .col-md-12 {
  background-color: #5DA399;
}

.quote2 h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  line-height: 140%;
  color: #35393C;
  font-weight: lighter;
  padding-top: 60px;
  padding-bottom: 50px;
}

.quote2 strong {
  font-size: 2.1rem;
}

.quote2 h3 p {
  font-size: 1.8rem;
  font-style: normal;
  padding-top: 20px;
}


/* Middle section */

.middle {
  margin-top: 110px;
  line-height: 30px;
}

.middle .headline h1 {
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 20px;
  font-size: 3.2rem;
  text-align: center;
  font-weight: 800;
}

.middle .text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.0rem;
  text-align: center;
  padding-top: 15px;
}

.middle .text .line2 {
  padding-top: 5px;
}

.middle .text .line3 {
  padding-top: 5px;
}

.middle .text .line4 {
  padding-top: 5px;
}

.middle .text .line5 {
  padding-top: 5px;
}

.middle .text .line6 {
  padding-top: 5px;
}

.middle .text .line7 {
  padding-top: 5px;
}

.middle .text .line8 {
  padding-top: 65px;
  font-weight: 800;
  font-size: 3.2rem;
  color: #397367;
  padding-bottom: 55px;
}

/* Services Table */

.bullet-one {
  background-color: #35393C;
}

.bullet-one .bullet1 h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  font-size: 2.8rem;
  padding-bottom: 10px;
}

.bullet-one .bullet1 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 2.2rem;
  margin-top: 20px;
  padding-bottom: 40px;
}

.bullet-one .bullet1 {
  color: white;
  padding-top: 20px;
}


.bullet-two {
  background-color: #42858C;
}

.bullet-two .bullet2 h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  font-size: 2.8rem;
  padding-bottom: 10px;
}

.bullet-two .bullet2 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 2.2rem;
  margin-top: 20px;
  padding-bottom: 40px;
}

.bullet-two .bullet2 {
  color: white;
  padding-top: 20px;
}


.bullet-three {
  background-color: #35393C;
}

.bullet-three .bullet3 h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  font-size: 2.8rem;
  padding-bottom: 10px;
}

.bullet-three .bullet3 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 2.2rem;
  margin-top: 20px;
  padding-bottom: 40px;
}

.bullet-three .bullet3 {
  color: white;
  padding-top: 20px;
}


.bullet-four {
  background-color: #42858C;
}

.bullet-four .bullet4 h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  font-size: 2.8rem;
  padding-bottom: 10px;
}

.bullet-four .bullet4 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 2.2rem;
  margin-top: 20px;
  padding-bottom: 40px;
}

.bullet-four .bullet4 {
  color: white;
  padding-top: 20px;
}


/* P.S. */

.ps p {
  padding-top: 30px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  text-align: center;
}


/* End Section */

.end .text p {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 60px;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 700;
}

.button2 .row {
  line-height: 50px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.button2 .talk {
  vertical-align: baseline;
  border-radius: 10px;
  border: 0.23rem solid #9E2A2B;
  width: 100%;
  text-align: center;
  background-color: #9E2A2B;
}

.button2 .talk a {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.57rem;
  word-spacing: 5px;
 }





/* Footer */

.bottom {
  margin-top: 60px;
  min-height: 100%;
  background-color: rgba(53,57,60,0.9);
  padding-top: 10px;
}

.bottom #main {
  overflow:auto;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.bottom #main a {
  color: #5da399;
}

.bottom .brand {
  color: white;
  padding-top: 20px;
}

.bottom .about {
  color: white;
  padding-top: 4px;
}

.bottom .talk {
  color: white;
  padding-top: 4px;
}

.bottom .blog {
  color: white;
  padding-top: 20px;
  font-size: 1.6rem;
  font-style: italic;
}

.bottom .linkedin {
  color: white;
  padding-top: 25px;
}

.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
  background-color: rgba(53,57,60,0.9);
}

.bottom .brand {
    color: white !important;
}

ul.nav li a, ul.nav li a:focus {
    color: white !important;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .bottom {
    padding-left: 70px;
    padding-bottom: 50px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .bottom {
    padding-left: 70px;
    padding-bottom: 50px;
  }
}

@media all and (max-width: 480px) {
  .bottom {
    padding-left: 70px;
    padding-bottom: 50px;
  }
}
